::-webkit-scrollbar{width:20px}
::-webkit-scrollbar-track{background:#1a1a1a}
::-webkit-scrollbar-thumb{background:#929292}
::-webkit-scrollbar-thumb:hover{background:#929292}

html, body, .window {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    color: white;
    font-family: Consolas,monaco,monospace; 
    font-size: 16px;
}

* {
    box-sizing: border-box;
}
.window {
}
.popover {
    display: block;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    width: 80%;
    height: 80%;
    z-index: 20;
    background: #1a1a1a;
    border: 2px solid white;
}
.popover-hide {
    display: block;
    position: absolute;
    right: 10%;
    top: calc(10% - 20px);
    height: 20px;
    z-index: 20;
    background: #1a1a1a;
    border-bottom: none;
    cursor: pointer;
}
.hidden {
    display: none;
}
.left-col {
    width: 150px;
    display: inline-block;
    height: 100%;
    float: left;
    color: #FFFFFF;
    border-right: 2px solid white;
    transition: width 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.right-col {
    display: inline-block;
    width: calc(100% - 152px);
    height: 100%;
    color: #FFFFFF;
    transition: width 0.3s ease;
}
#game-table {
    width: 600px;
    height: 600px;
    display: inline-table;
    border: 2px solid white;
    margin: 30px 10px 0;
    padding: 0;
}
#game-table.bear-close {
    border: 2px solid red;
}
.game {
    text-align: center;
}
#game-table .cell {
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 10%;
    height: 10%;
    position: relative;
}
.sidebar-entry {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border-bottom: 1px solid white;
    padding: 0 10px;
}
.cell img {
    left: 7px;
    top: 7px;
    position: absolute;
}
.directionBtn {
    opacity: 0.5;
}
#log {
    width: 600px;
    margin: 0 auto;
    height: 120px;
    overflow-y: scroll;
}
.popover-title {
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 2px solid white;
}

.popover-content {
    padding: 5px;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.popover-content * {
    user-select: none;
}

.item {
    display: inline-block;
    width: 25%;
    border: 1px solid white;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin-bottom: 5px;
}

.item-name {
    text-align: center;
    height: 30px;
}

.item-count {
    text-align: center;
    display: inline-block;
    float: right;
    background: #ffb600;
    color: black;
    border-radius: 24px;
    width: 22px;
    height: 22px;
    line-height: 24px;
    top: 2px;
    right: 2px;
    position: absolute;
}
.item-remove {
    cursor: pointer;
    background: #800404;
    border-top: 1px solid white;
    padding: 2px 0;
    line-height: 22px;
}
#progress-bar {
    width: 600px;
    margin: 0 auto;
    height: 5px;
    display: flex;
}
#progress-bar .percentage {
    display: inline-block;
    height: 5px;
    width: 0%;
    background: green;
}

.items-required {
    border-top: 1px solid white;
    background: #353542;
    height: 90px;
    overflow-y: auto;
}
.req-item-name {
    display: inline-block;
    height: 24px;
    vertical-align: top;
    line-height: 24px;
    padding: 0 7px;
    font-size: 14px;
}

.req-item {
    text-align: left;
    margin-left: 5px;
}
.req-item-count {
    display: inline-block;
    height: 22px;
    vertical-align: top;
    line-height: 22px;
    padding: 0px 7px;
    font-size: 14px;
    background: #ffb600;
    border-radius: 24px;
    float: right;
    margin: 1px 2px;
    color: black;
}

.req-item-count.under {
    background: #5f0000;
    color: white;
}

.req-item-count.over {
    background: #2e5609;
    color: white;
}

.item-craft {
    background: #2f5509;
    cursor: pointer;
    padding: 2px 0;
}

.item-craft.disabled {
    background: #5e0000;
}
